* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

main{
  max-width: 360px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  margin: 0 1rem;
}

.card img {
  width: 100%;
  border-radius: 2rem;
  padding: 1rem;
}

.title {
  font-size: 10px;
  text-align: center;
  color: hsl(218, 44%, 22%);
  padding: 0 2rem;
}

.desc {
  font-size: 15px;
  text-align: center;
  color: hsl(220, 15%, 55%);
  padding: 1rem 2rem 2rem 2rem;
}

footer{
  margin-top: 2rem;
}
